<?xml version="1.0" encoding="UTF-8"?>

<suite name="TestAspire" configfailurepolicy="continue">
	<test name="TestSuites">
		<classes>
			<class name="Register.TestRegister" />
			<class name="Register.TestNegativeRegister" />
			<class name="Login.TestLogin" />
			<class name="Login.TestNegativeLogin" />
		</classes>
	</test>
</suite>